body{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0 36.44C5.84 13.39 12.56 5.96 35.47 0C82.56 -12.26 87.74 0 140 0C210 0 210 0 280 0C287.78 0 287.83 -0.79 295.56 0C357.83 6.39 357.97 5.82 420 14.36C490.19 24.02 500.01 5.59 560 36.4C622.33 68.41 664.65 88.07 664.65 140C664.65 192.19 614.8 195.28 560 244.65C537.11 265.28 509.28 260.94 509.28 280C509.28 300.76 529.57 322.39 560 324.3C624.93 328.39 631.42 311.33 700 292C709.99 289.18 709.55 287.18 717.14 280C779.55 220.98 767.56 191.62 840 159.6C898.99 133.53 914.65 171.87 980 163.83C994.31 162.07 999.31 153.93 999.31 140C999.31 107.02 993.79 103.32 980 70C964.82 33.32 941.38 23.6 941.38 0C941.38 -11.4 960.69 0 980 0C1023.08 0 1023.53 -3.88 1066.15 0C1093.53 2.49 1092.8 12.73 1120 12.73C1163.47 12.73 1163.58 3.99 1207.5 0C1233.58 -2.37 1233.75 0 1260 0C1330 0 1330 0 1400 0C1464 0 1473.26 -13.14 1528 0C1543.26 3.66 1538.49 16.02 1540 33.6C1544.49 86.02 1540 86.8 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 462.33 1565.4 480.25 1540 504.65C1495.4 547.48 1469.68 528.84 1400 554.47C1394.43 556.52 1395.38 559.77 1389.5 560C1325.38 562.53 1324.75 560 1260 560C1190 560 1190 560 1120 560C1073.04 560 1054.96 585.89 1026.08 560C984.96 523.13 1007.4 494.09 980 434.48C975.23 424.09 972.41 424.49 961.74 420C902.41 395.03 894.27 375.56 840 375.56C816.74 375.56 806.67 394.89 806.67 420C806.67 470.96 818.24 476.57 840 527.69C848.03 546.57 866.25 550.09 866.25 560C866.25 566.25 853.13 560 840 560C770 560 770 560 700 560C676.66 560 676.58 561.6 653.33 560C606.58 556.77 605.43 550.34 560 550.34C551.76 550.34 554.33 559.43 546 560C484.33 564.26 483 560 420 560C350 560 350 560 280 560C210 560 166.26 594.51 140 560C113 524.51 173.48 484.21 173.48 420C173.48 400.94 160.21 398.11 140 393.45C73.47 378.11 40.91 413.15 0 380C-29.09 356.43 0 330 0 280C0 210 0 210 0 140C0 88.22 -11.89 83.39 0 36.44' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M280 227.5C271.86 227.5 264.15 255.21 264.15 280C264.15 291.71 271.93 300.49 280 300.49C288.25 300.49 296.8 291.85 296.8 280C296.8 255.35 288.18 227.5 280 227.5' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1260 386.67C1255.54 386.67 1251.14 403.84 1251.14 420C1251.14 428.84 1255.55 436.67 1260 436.67C1264.46 436.67 1268.97 428.85 1268.97 420C1268.97 403.85 1264.46 386.67 1260 386.67' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 84.38C27.89 36.84 35.2 28.29 82.13 0C105.2 -13.9 111.06 0 140 0C179.45 0 202.72 -25.18 218.91 0C247.72 44.82 235.14 70.78 230 140C224.74 210.78 227.18 217.64 198.11 280C182.18 314.19 175.61 325.11 140 333.1C76.55 347.33 53.16 344.6 0 324.44C-16.84 318.05 0 302.22 0 280C0 210 0 210 0 140C0 112.19 -13.17 106.84 0 84.38' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M315 140C327.51 88.1 360.56 75.87 420 59.23C483.06 41.57 498.22 47.56 560 71.4C602.87 87.94 629.29 105.61 629.29 140C629.29 174.56 597.74 178.34 560 209.29C512.37 248.34 458.55 241.87 458.55 280C458.55 321.53 501.34 353.55 560 368.61C622.06 384.55 640.15 327 700 342C742.65 352.69 765 380.04 765 420C765 463.07 744.77 492.77 700 508.06C642.27 527.77 624.45 476.14 560 490C503.7 502.11 511.84 533.33 458.5 560C441.84 568.33 439.25 560 420 560C377.22 560 370.77 574.96 334.44 560C300.77 546.14 300.14 535.57 280 502.35C257.7 465.57 249.57 458.3 249.57 420C249.57 400.05 265.32 403.38 280 385.85C323.93 333.38 358.43 338.8 366.8 280C375.93 215.88 300.91 198.48 315 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1059.66 140C1088.32 106.85 1081.46 90.13 1120 76.36C1181.63 54.35 1200.71 92.21 1260 68.44C1295.96 54.03 1276.38 16.67 1310.49 0C1346.38 -17.55 1355.24 0 1400 0C1439 0 1478 -20.55 1478 0C1478 36.33 1443.69 61.63 1400 113.75C1385.01 131.63 1378.1 124.17 1360.63 140C1308.1 187.61 1315.89 198.25 1260 240.63C1223.57 268.25 1186.44 244.76 1176 280C1159.86 334.45 1183.38 352.96 1206.84 420C1225.38 472.96 1233.29 520 1260 520C1286.79 520 1281.5 466.28 1313.85 420C1351.5 366.13 1355.49 368.49 1400 319.7C1419.35 298.49 1422.88 301.77 1441.56 280C1492.88 220.16 1512.38 156.47 1540 156.47C1561.6 156.47 1540 218.24 1540 280C1540 350 1540 350 1540 420C1540 421.63 1541.37 422.4 1540 423.26C1471.37 466.61 1471.01 467.62 1400 508.42C1352.01 535.99 1352.75 541.3 1302 560C1282.75 567.09 1281 560 1260 560C1190 560 1190 560 1120 560C1095.19 560 1082.53 577.6 1070.38 560C1034.22 507.6 1050.77 488.37 1023.38 420C1005.58 375.59 1017.16 354.71 980 334.44C925.47 304.71 905.43 338.61 840 320C809.71 311.39 788.57 301.47 788.57 280C788.57 256.27 807.53 236.67 840 229.6C903.25 215.82 922.26 261.85 980 238.3C1032.09 217.05 1018.32 187.82 1059.66 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 132.33C61.83 65.12 62.8 62.38 128.8 0C132.8 -3.78 134.4 0 140 0C147.63 0 154.94 -6.87 155.27 0C158.28 63.13 152.12 70.1 146.67 140C144.48 168.1 161.04 187.07 140 196C87.71 218.18 48.48 221.61 0 202.22C-21.52 193.61 0 171.11 0 140C0 136.17 -2.57 135.12 0 132.33' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M373.33 140C373.33 116.01 392.37 109.07 420 104.1C485.7 92.27 495.15 93.02 560 106.4C582.12 110.97 593.94 123.16 593.94 140C593.94 156.93 580.24 161.41 560 173.94C493.27 215.25 473.59 257.43 420 247.69C380.25 240.46 373.33 187.81 373.33 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 40.83C1384.6 40.83 1367.87 12.61 1367.87 0C1367.87 -7.8 1383.93 0 1400 0C1414 0 1428 -7.37 1428 0C1428 13.04 1414.67 40.83 1400 40.83' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1496.25 280C1496.25 251.78 1527.72 225.1 1540 225.1C1549.6 225.1 1540 252.55 1540 280C1540 311.82 1549.88 343.64 1540 343.64C1528.01 343.64 1496.25 311.05 1496.25 280' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M411.25 420C411.25 410.75 410 400.48 420 400C484.38 396.93 490.24 414.9 560 412.91C630.24 410.9 635.06 389.18 700 392C716.72 392.73 723.33 405.66 723.33 420C723.33 435.46 717.73 450.56 700 451.61C636.06 455.39 630.42 435.26 560 429.66C490.42 424.12 488.15 433.76 420 429.33C413.77 428.93 411.25 425.42 411.25 420' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1072.68 420C1073.7 378.05 1097.24 341.86 1120 341.86C1142.17 341.86 1157.45 377.79 1162.53 420C1170.58 486.86 1164.18 500.99 1146.25 560C1142.91 570.99 1133.13 560 1120 560C1117.34 560 1115.51 562.46 1114.68 560C1091.85 492.46 1071.04 487.12 1072.68 420' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1358.72 420C1358.72 396.62 1376.35 371.94 1400 371.94C1431.24 371.94 1468.51 396.96 1468.51 420C1468.51 442.18 1431.65 462.37 1400 462.37C1376.76 462.37 1358.72 441.83 1358.72 420' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
a {
    display: inline;
  }
  * {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
#HOME,#ABOUT,#WORK,#RESUME,#CONTACT {
    margin: auto;
    width: 7%;
    border: 4px solid rgb(72, 131, 186);
    padding: 10px;
  }

h1{
    margin: auto;
    width: 20%;
    border: 3px solid rgb(72, 131, 186);
    padding: 10px
}
h3{
    margin: auto;
    width: 20%;
    border: 1px solid rgb(72, 131, 186);
    padding: 10px
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(13, 0, 57);
  display: flex;
}

.nav {
  float: center;
}
.img{
  width: 450px;
  margin: 10px auto;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(72, 131, 186);
}

.active {
  background-color: rgb(72, 131, 186);
}

p, h1, h3 {
  text-align: center;
}
.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.vid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.list {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.submit{
  color: blue;
}